@import "tailwindcss";
* {
    box-sizing: border-box;
}

.quicksand-font {
    font-family: Quicksand;
}
.nav-links li {
    font-weight: bold;
    font-size: 20px;
}
.hamburger {
    display: inline-block;
    cursor: pointer;
}
.hamburger div {
    width: 36px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}
.card {
    border-radius: 12px;
    text-align: center;

    padding: 28px 36px;
    box-shadow: inset 0px 0px 19.16px 0.64px rgba(0, 0, 0, 0.05);
}
.card img {
    width: 92px;
    margin: 0px auto;
}
#card-one {
    background: linear-gradient(
            180deg,
            rgb(222, 245, 255),
            rgba(255, 255, 255, 0) 40%
        ),
        rgb(255, 255, 255);
}
#card-two {
    background: linear-gradient(
            180deg,
            rgb(255, 244, 220),
            rgba(255, 255, 255, 0) 40%
        ),
        rgb(255, 255, 255);
}
#card-three {
    background: linear-gradient(
            180deg,
            rgb(242, 232, 255),
            rgba(255, 255, 255, 0) 40%
        ),
        rgb(255, 255, 255);
}
@media (width >= 64rem) {
    .hamburger {
        display: none;
    }
}
